.xcblog-blog-detail {}
.xcblog-blog-detail p {line-height: 1.8rem;font-size: 1rem;}
.xcblog-blog-detail h2 {margin: 1.5rem 0;font-size: 1.5rem;}
.xcblog-blog-detail h3 {margin: 1.5rem 0;font-size: 1.2rem;}

#topic-box {line-height: 2rem;color: #c09853;padding: 1rem;margin-bottom: 1.5rem;}